<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{% static '/CSS/Services.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <h1>Our Services</h1>
  <div class="icons">
    <a href="#" class="Votiong">Voting</a>
    <a href="#" class="Governence">Governence</a>
    <a href="#" class="Transportations">Transportation</a>
    <a href="#" class="Healthcare">Healthcare</a>
    <a href="#" class="Education">Education</a>
    <a href="#" class="Entertainment">Entertainment</a>
    <a href="#" class="Thoughts">Thoughts</a>
  </div>
</body>
</html>